body {
	/*background-color: blue;*/
}

a {
	color: white;
	text-decoration: none !important;
	border-style: solid;
	padding: 10px 40px;
background-color: green;
position: absolute;
bottom: 100px;
left: 400px;
/*margin-top: 1300px;*/

}


